@use 'styles/base/reset';
@use 'styles/base/layout';
@use 'styles/utilities/spacing';

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100dvh;
}